<ion-content >
  <div class="header-form ion-text-center">
    <div class="text-center">
      <ion-icon class="icon-modal" name="checkmark-outline"></ion-icon>
    </div>
    <div class="text-center">
      <ion-item lines="none" class="">
        <div class="ion-text-center text-header">
          <span>{{title | titlecase }}</span>
        </div>
      </ion-item>
    </div>
    <div class="text-center">
      <ion-item lines="none" class="">
        <div class="ion-text-center">
          <span>{{message }}</span>
        </div>
      </ion-item>
    </div>
  </div>
</ion-content>
<ion-footer class="ion-no-border" collapse="fade">
  <div class="ion-text-center">
    <ion-button expand="block" size="large" class="btn-limpar-filtro-valid" (click)="confirm()">Fechar</ion-button>
  </div>
</ion-footer>