<div class="coming-soon-container">
  <div class="coming-soon-content">
    <!-- Icon Container -->
    <div class="icon-container">
      <div class="icon-background">
        <ion-icon [name]="icon" [color]="iconColor" class="main-icon"></ion-icon>
      </div>
      <div class="icon-decoration"></div>
    </div>

    <!-- Content -->
    <div class="text-content">
      <h1 class="title">{{ title }}</h1>
      <h2 class="subtitle">{{ subtitle }}</h2>
      <p class="description">{{ description }}</p>

      <!-- Action Button -->
      <div class="action-buttons" *ngIf="showButton">
        <ion-button
          [color]="buttonColor"
          [fill]="buttonFill"
          (click)="onButtonClick()">
          <ion-icon name="add" slot="start"></ion-icon>
          {{ buttonText }}
        </ion-button>
      </div>
    </div>

  </div>

  <!-- Background Decoration -->
  <div class="background-decoration">
    <div class="circle circle-1"></div>
    <div class="circle circle-2"></div>
    <div class="circle circle-3"></div>
  </div>
</div>
