div {
    font-size: 12px !important;
    padding: 0px;
}

.text {
    width: 100% !important;
    height: fit-content;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    margin-bottom: 4px;
    white-space: normal !important;

}

.text-title {
    color: var(--ion-text-color, #000);
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
    margin-bottom: 4px;
}

.text-bold {
    color: var(--ion-text-color, #000);
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px;
    /* 150% */
}

.text-red{
    color: red;
}

.text-normal {
    color: var(--ion-text-color, #000);
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
}

.text-description {
    //white-space: nowrap;
    margin-bottom: 6px;
}

.status-text {
    text-align: center;
    font-family: Inter;
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    /* 180% */
}

.box-status {
    width: 100%;
    display: flex;
    padding: 0px 0px 0px 0px;
    justify-content: center;
    align-items: center;
    gap: 6px;
    border-radius: 16px;
    font-size: 10px !important;
}

.status-line {
    display: flex;
    justify-content: center;
    align-items: center;
}
