<ion-row>
  <div class="text-description text-bold">Nome: <span class="text-normal"> {{nome | titlecase}} </span></div>
</ion-row>
<ion-row>
  <div class="text-description text-bold">Data Cadastro: <span class="text-normal"> {{data_cadastro | titlecase}} </span></div>
</ion-row>
<ion-row>
  <div class="text-description text-bold">Perfil: <span class="text-normal"> {{perfil }} </span></div>
</ion-row>
<ion-row>
  <div class="text-description text-bold">Ativo: <span class="text-normal"> {{ativoDescricao }} </span></div>
</ion-row>
