<ion-row>
  <div class="text-description text-bold">{{cnpj}} - {{razaoSocial | titlecase}}</div>
</ion-row>
<ion-row>
  <div class="text-description text-bold">Endereço: <span class="text-normal"> {{endereco | titlecase}} </span></div>
</ion-row>
<ion-row>
  <div class="text-description text-bold">Telefone: <span class="text-normal"> {{telefone}} </span></div>
</ion-row>
<ion-row>
  <div class="text-description text-bold">E-mail: <span class="text-normal"> {{email}} </span></div>
</ion-row>
<ion-row>
  <div class="text-description text-bold">Responsável: <span class="text-normal"> {{responsavel }} </span></div>
</ion-row>
<ion-row>
  <div class="text-description text-bold">Ativo: <span class="text-normal"> {{ativoDescricao }} </span></div>
</ion-row>
